*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
    
}
body {
    color:aliceblue;
    background-color:darkkhaki;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 3%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:rgb(0, 0, 0);
    
    
}
.logo  {
    position: relative;
    font-size: 20px;
    color:aliceblue;
    text-decoration: none;
    font-weight: 700;  
    display: flex;
    
}
.logos {
    padding: 1px 1px;

    width: 400px;
    display:inline-flex;
    justify-content: left;
    align-items: center;
}
.logo-icon a{
        display:inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background:transparent   ;
        border: 2px solid aliceblue;
        border-radius:4%;
        font-size: 20px;
        color:aliceblue;
        text-decoration: none;
        margin: 1px 1px 1px 0 ;
}

.navbar a {
    display: inline-block;
    font-size: 19px;
    color:aliceblue;    
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;

    
}
nav a:hover{
    color: dimgray;
}
.inicio{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh ;
    background-image:  url(https://i.pinimg.com/736x/dd/ca/be/ddcabeb0bbdd9cdb4e5e911c18a4987c.jpg);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    
}
.inicio-contenido{
    border: rgb(255, 255, 255) solid ;
    border-radius:10px;
    padding: 10px 2%;
    text-align: justify;
    text-justify: inter-word;
    
}
.acercaDeMi{
    margin-top: px;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh ;
   
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}


